<div class="user-info">
	<form name="userDetailForm" class="form-horizontal">
	
	    <div ng-class="['form-group', userDetailForm.carNumber.$invalid ? 'has-error' : '']" ng-if="isBaseEditable">
		    <label class="col-sm-5 control-label">车    号：</label>
	    	<div class="col-sm-7">
		        <input name="carNumber" type="text" class="form-control" ng-model="userWithDetail.carNumber" required/>
	    	</div>
	    </div>
	    	
	    <div ng-class="['form-group', userDetailForm.name.$invalid ? 'has-error' : '']">
		    <label class="col-sm-5 control-label">司机姓名：</label>
	    	<div class="col-sm-7">
		        <input name="name" type="text" class="form-control" ng-disabled="!isBaseEditable" ng-model="userWithDetail.name" required/>
	    	</div>
	    </div>

	    <div ng-class="['form-group', userDetailForm.idNo.$invalid ? 'has-error' : '']" ng-if="isBaseEditable">
		    <label class="col-sm-5 control-label">身份证号：</label>
	    	<div class="col-sm-7">
		        <input name="idNo" type="text" class="form-control" ng-model="userWithDetail.idNo" pattern="^\d{17}[\dXx]$" required/>
	    	</div>
	    </div>
	    
	    <div ng-class="['form-group', userDetailForm.phonenumber.$invalid ? 'has-error' : '']">
		    <label class="col-sm-5 control-label">联系方式：</label>
	        <div class="col-sm-7">
		        <input name="phonenumber" type="text" class="form-control" ng-disabled="!isBaseEditable" ng-model="userWithDetail.phonenumber" pattern="^\d{11}$" title="请输入11位手机号" required/>
	    	</div>
	    </div>
	    	
	    <div ng-class="['form-group', userDetailForm.address.$invalid ? 'has-error' : '']">
		    <label class="col-sm-5 control-label">居住地：</label>
	        <div class="col-sm-7">
		        <input name="address" type="text" class="form-control" ng-disabled="!isBaseEditable" ng-model="userWithDetail.address" required/>
	    	</div>
	    </div>
	    
	    <div ng-class="['form-group', userDetailForm.drivingLicensePathInput.$invalid ? 'has-error' : '']">
	        <label class="col-sm-5 control-label">驾驶证：</label>
	        <div class="col-sm-7">
		        <img name="drivingLicensePath" ng-class="[isDetailEditable ?'edit-img' : '']" width="300px" height="150px" ng-src="{{userWithDetail.drivingLicensePath}}" ng-click="uploadPicture('drivingLicensePathInput')" alt="上传驾驶证照片" src=""/>
		        <input name="drivingLicensePathInput" id="drivingLicensePathInput" tabindex="-1" type="file" accept="image/*" style="display:none"/>	        
	    	</div>
	    </div>
	    
	    <div ng-class="['form-group', userDetailForm.certificatePath.$invalid ? 'has-error' : '']">
		    <label class="col-sm-5 control-label" >从业资格证：</label>
	    	<div class="col-sm-7">
		        <img name="certificatePath" ng-class="[isDetailEditable ?'edit-img' : '']" width="300px" height="150px" ng-src="{{userWithDetail.certificatePath}}" ng-click="uploadPicture('certificatePathInput')" alt="上传从业资格证照片"/>
		        <input id="certificatePathInput" tabindex="-1" type="file" name="file" accept="image/*" style="display:none"/>	        
	    	</div>
	    </div>	

	    <div ng-class="['form-group', userDetailForm.certificateDt.$invalid ? 'has-error' : '']">
		    <label class="col-sm-5 control-label" >从业资格证取得时间：</label>
	    	<div class="col-sm-7">
		        <input name="certificateDt" type="date" class="form-control" ng-disabled="!isDetailEditable" ng-model="userWithDetail.certificateDt" max="{{nowDate | date : 'yyyy-MM-dd'}}"/>
	    	</div>	    
	    </div>	
	    	    
	    <div ng-class="['form-group', userDetailForm.vehicleTravelLicensePath.$invalid ? 'has-error' : '']">
		    <label class="col-sm-5 control-label" >行驶证：</label>
	    	<div class="col-sm-7">
		        <img name="vehicleTravelLicensePath" ng-class="[isDetailEditable ?'edit-img' : '']" width="300px" height="150px" ng-src="{{userWithDetail.vehicleTravelLicensePath}}" ng-click="uploadPicture('vehicleTravelLicensePathInput')" alt="上传行驶证照片"/>
		        <input id="vehicleTravelLicensePathInput" tabindex="-1" type="file" name="file" accept="image/*" style="display:none"/>	        
	    	</div>
	    </div>
	    
	    <div ng-class="['form-group', userDetailForm.vehicleOperatingId.$invalid ? 'has-error' : '']">
		    <label class="col-sm-5 control-label" >车辆营运证号：</label>
	    	<div class="col-sm-7">
 				<input name="vehicleOperatingId" type="text" class="form-control" ng-disabled="!isBaseEditable" ng-model="userWithDetail.driverDetailModel.vehicleOperatingId" required/>
 	    	</div>
	    </div>
	    
	    <div ng-class="['form-group', userDetailForm.insuranceStartDt.$invalid ? 'has-error' : '']">
		    <label class="col-sm-5 control-label" >保险起始时间：</label>
	    	<div class="col-sm-7">
		        <input name="insuranceStartDt" type="date" class="form-control" ng-disabled="!isDetailEditable" ng-model="userWithDetail.driverDetailModel.insuranceStartDt" max="{{nowDate | date : 'yyyy-MM-dd'}}"/>
	    	</div>	    
	    </div>

	    <div ng-class="['form-group', userDetailForm.insuranceEndDt.$invalid ? 'has-error' : '']">
		    <label class="col-sm-5 control-label" >保险结束时间：</label>
	    	<div class="col-sm-7">
		        <input name="insuranceEndDt" type="date" class="form-control" ng-disabled="!isDetailEditable" ng-model="userWithDetail.driverDetailModel.insuranceEndDt" />
	    	</div>	    
	    </div>
	    
	    <div ng-class="['form-group', userDetailForm.insurancePremium.$invalid ? 'has-error' : '']">
		    <label class="col-sm-5 control-label" >保险金额：</label>
	    	<div class="col-sm-7">
 				<input name="insurancePremium" type="number" step="0.01" class="form-control" ng-disabled="!isBaseEditable" ng-model="userWithDetail.driverDetailModel.insurancePremium"/>
 	    	</div>
	    </div>

	    <div ng-class="['form-group', userDetailForm.insuranceInsuredCompany.$invalid ? 'has-error' : '']">
		    <label class="col-sm-5 control-label" >投保公司：</label>
	    	<div class="col-sm-7">
 				<input name="insuranceInsuredCompany" type="text" class="form-control" ng-disabled="!isBaseEditable" ng-model="userWithDetail.driverDetailModel.insuranceInsuredCompany"/>
 	    	</div>
	    </div>
	    	    	    
	    <div ng-class="['form-group', userDetailForm.insurancePhotoPath.$invalid ? 'has-error' : '']">
	        <label class="col-sm-5 control-label">保险照片：</label>
	    	<div class="col-sm-7">
		        <img name="insurancePhotoPath" ng-class="[isDetailEditable ?'edit-img' : '']" width="300px" height="150px" ng-src="{{userWithDetail.driverDetailModel.insurancePhotoPath}}" ng-click="uploadPicture('insurancePhotoPath')" alt="上传保险照片"/>
		        <input id="insurancePhotoPath" tabindex="-1" type="file" name="file" accept="image/*" style="display:none"/>		    	</div>
	    </div>
	    
	    <div ng-class="['form-group', userDetailForm.contractStartDt.$invalid ? 'has-error' : '']">
		    <label class="col-sm-5 control-label" >合同起始时间：</label>
	    	<div class="col-sm-7">
		        <input name="contractStartDt" type="date" class="form-control" ng-disabled="!isDetailEditable" ng-model="userWithDetail.driverDetailModel.contractStartDt" max="{{nowDate | date : 'yyyy-MM-dd'}}"/>
	    	</div>	    
	    </div>

	    <div ng-class="['form-group', userDetailForm.contractEndDt.$invalid ? 'has-error' : '']">
		    <label class="col-sm-5 control-label" >合同到期时间：</label>
	    	<div class="col-sm-7">
		        <input name="contractEndDt" type="date" class="form-control" ng-disabled="!isDetailEditable" ng-model="userWithDetail.driverDetailModel.contractEndDt"/>
	    	</div>	    
	    </div>
	    	    	
	    <div ng-class="['form-group', userDetailForm.contractSupplementary.$invalid ? 'has-error' : '']">
	        <label class="col-sm-5 control-label">合同补充协议：</label>
	    	<div class="col-sm-7">
		        <textarea name="contractSupplementary" class="textarea form-control" rows="2" ng-model="userWithDetail.driverDetailModel.contractSupplementary" ng-disabled="!isDetailEditable"></textarea>
	    	</div>
	    </div>	  
	    	    	    	    
	    <div ng-class="['form-group', userDetailForm.contractPhotoPath.$invalid ? 'has-error' : '']">
	        <label class="col-sm-5 control-label">合同照片：</label>
	    	<div class="col-sm-7">
		        <img name="contractPhotoPath" ng-class="[isDetailEditable ?'edit-img' : '']" width="300px" height="150px" ng-src="{{userWithDetail.driverDetailModel.contractPhotoPath}}" ng-click="uploadPicture('contractPhotoPath')" alt="上传合同照片"/>
		        <input id="contractPhotoPath" tabindex="-1" type="file" name="file" accept="image/*" style="display:none"/>		    	</div>
	    </div>
	    
	    <div ng-class="['form-group', userDetailForm.driverDetailModel.annualAudit.$invalid ? 'has-error' : '']">
	        <label class="col-sm-5 control-label">年审：</label>
	    	<div class="col-sm-7">
		        <input name="annualAudit" type="date" class="form-control" ng-disabled="!isDetailEditable" ng-model="userWithDetail.driverDetailModel.annualAudit" max="{{nowDate | date : 'yyyy-MM-dd'}}"/>
	    	</div>
	    </div>

	    <div ng-class="['form-group', userDetailForm.changeCarDt.$invalid ? 'has-error' : '']">
		    <label class="col-sm-5 control-label" >换型时间：</label>
	    	<div class="col-sm-7">
		        <input name="changeCarDt" type="date" class="form-control" ng-disabled="!isDetailEditable" ng-model="userWithDetail.driverDetailModel.changeCarDt" max="{{nowDate | date : 'yyyy-MM-dd'}}"/>
	    	</div>	    
	    </div>
	    	    
	    <div ng-class="['form-group', userDetailForm.changeCarFee.$invalid ? 'has-error' : '']">
	        <label class="col-sm-5 control-label">换型承包款：</label>
	    	<div class="col-sm-7">
 				<input name="changeCarFee" type="number" class="form-control" ng-disabled="!isBaseEditable" ng-model="userWithDetail.driverDetailModel.changeCarFee"/>
	    	</div>
	    </div>	    
	    
	    <div class="form-group">
	        <label class="col-sm-5 control-label">是否过户：</label>
	    	<div class="col-sm-7">
	    		<input class="checkbox" style="width:17px;height:17px" type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="userWithDetail.userDetail.isTransferOwnership"/>
	    	</div>
	    </div>
	    
    	<div class="panel panel-default">
    		<div class="panel-heading">
    			<h4 class="panel-title" style="text-align:center">
    				<a role="button" data-toggle="collapse" data-parent="subDriver" href="#subDriverInfo" aria-expanded="false">替班司机信息</a>
    			</h4>
    		</div>
    		<div class="panel-body">
			    <div id="subDriverInfo" class="panel-collapse collapse" aria-expanded="false">
			    
				    <div ng-class="['form-group']">
					    <label class="col-sm-5 control-label">替班司机姓名：</label>
				    	<div class="col-sm-7">
					        <input name="subDriverName" type="text" class="form-control" ng-disabled="!isBaseEditable" ng-model="userWithDetail.substituteDriverModel.name"/>
				    	</div>
				    </div>
			
				    <div ng-class="['form-group', userDetailForm.subDriverIdNo.$invalid ? 'has-error' : '']" ng-if="isBaseEditable">
					    <label class="col-sm-5 control-label">替班司机身份证号：</label>
				    	<div class="col-sm-7">
					        <input name="subDriverIdNo" type="text" class="form-control" ng-model="userWithDetail.substituteDriverModel.idNo" pattern="^\d{17}[\dXx]$"/>
				    	</div>
				    </div>
		
				    <div ng-class="['form-group', userDetailForm.subDriverPhoneNumber.$invalid ? 'has-error' : '']">
					    <label class="col-sm-5 control-label">替班司机联系方式：</label>
				        <div class="col-sm-7">
					        <input name="subDriverPhoneNumber" type="text" class="form-control" ng-disabled="!isBaseEditable" ng-model="userWithDetail.substituteDriverModel.phonenumber" pattern="^\d{11}$" title="请输入11位手机号"/>
				    	</div>
				    </div>
				    	
				    <div ng-class="['form-group']">
					    <label class="col-sm-5 control-label">替班司机居住地：</label>
				        <div class="col-sm-7">
					        <input type="text" class="form-control" ng-disabled="!isBaseEditable" ng-model="userWithDetail.substituteDriverModel.address"/>
				    	</div>
				    </div>
				    <div ng-class="['form-group']">
				        <label class="col-sm-5 control-label">替班司机驾驶证：</label>
				        <div class="col-sm-7">
					        <img name="subDrivingLicensePath" ng-class="[isDetailEditable ?'edit-img' : '']" width="300px" height="150px" ng-src="{{userWithDetail.substituteDriverModel.drivingLicensePath}}" ng-click="uploadPicture('subDrivingLicensePath')" alt="上传驾驶证照片" src=""/>
					        <input name="subDrivingLicensePathInput" id="subDrivingLicensePathInput" tabindex="-1" type="file" accept="image/*" style="display:none"/>	        
				    	</div>
				    </div>
				    
				    <div ng-class="['form-group']">
					    <label class="col-sm-5 control-label" >替班司机从业资格证：</label>
				    	<div class="col-sm-7">
					        <img name="subCertificatePath" ng-class="[isDetailEditable ?'edit-img' : '']" width="300px" height="150px" ng-src="{{userWithDetail.substituteDriverModel.certificatePath}}" ng-click="uploadPicture('subCertificatePathInput')" alt="上传从业资格证照片"/>
					        <input id="subCertificatePathInput" tabindex="-1" type="file" name="file" accept="image/*" style="display:none"/>	        
				    	</div>
				    </div>	
			
				    <div ng-class="['form-group']">
					    <label class="col-sm-5 control-label" >替班司机从业资格证取得时间：</label>
				    	<div class="col-sm-7">
					        <input type="date" class="form-control" ng-disabled="!isDetailEditable" ng-model="userWithDetail.substituteDriverModel.certificateDt" max="{{nowDate | date : 'yyyy-MM-dd'}}"/>
				    	</div>	    
				    </div>	
				    	    
				    <div ng-class="['form-group']">
					    <label class="col-sm-5 control-label" >替班司机行驶证：</label>
				    	<div class="col-sm-7">
					        <img name="subVehicleTravelLicensePath" ng-class="[isDetailEditable ?'edit-img' : '']" width="300px" height="150px" ng-src="{{userWithDetail.substituteDriverModel.vehicleTravelLicensePath}}" ng-click="uploadPicture('subVehicleTravelLicensePathInput')" alt="上传行驶证照片"/>
					        <input id="subVehicleTravelLicensePathInput" tabindex="-1" type="file" name="file" accept="image/*" style="display:none"/>	        
				    	</div>
				    </div>	 
			    </div>   		    	    	
		    </div>
    	</div>
	    
	    <div class="form-group" ng-show="isDetailEditable">
	        <label class="col-sm-5 control-label">创 建 日 期：</label>
	    	<div class="col-sm-7 form-control-static">
		        <label class="label label-info">{{userWithDetail.createDt | date : DATE_FORMAT}}</label>
	    	</div>
	    </div>
	
	    <div class="form-group" ng-show="isDetailEditable">
	        <label class="col-sm-5 control-label">上次更新日期：</label>
	    	<div class="col-sm-7 form-control-static">
		        <label class="label label-info">{{userWithDetail.lastUpdateDt | date : DATE_FORMAT}}</label>
	    	</div>
	    </div>
	</form>
</div>