<div>
    <h1 class="page-header">司机管理</h1>
    <div class="sub-header">
        <button type="button" class="btn btn-primary" style="margin-right:15px" ng-click="$ctrl.openAddUserWithDetail()"><span class="glyphicon glyphicon-plus"> 添加</span></button>
    	<button type="button" class="btn btn-danger " style="margin-right:15px" ng-click="$ctrl.deleteUser()"><span class="glyphicon glyphicon-remove"> 删除</span></button>
    	<button type="button" class="btn btn-primary" ng-click="$ctrl.importDrivers('#importDriverInput')"> <span class="glyphicon glyphicon-upload"> 导入</span></button>
    	<input id="importDriverInput" tabindex="-1" type="file" name="file" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" style="display:none;"/>
    </div>
    <table style="text-align: center;" ng-table="$ctrl.tableParams" class="table table-bordered table-striped table-hover">
        <tr ng-repeat="row in $data">
        	<td data-title="'#'" style="width: 40px;padding-left: 10px;"><input class="checkbox" style="width:17px;height:17px" type="checkbox" ng-checked="{{$ctrl.isSelected(row)}}" ng-click="$ctrl.checkSelectStatus($event,row)"/></td>
           
            <td data-title="'车 号'" filter="{carNumber : 'text'}" sortable="'carNumber'">
                <span class="editable-text"><a ng-click="$ctrl.openUserDetail(row)" style="cursor: pointer;">{{row.carNumber}}</a></span>
            </td>        
            <td data-title="'姓名'" filter="{name : 'text'}" sortable="'name'">
        	    <span class="editable-text">{{row.name}}</span>
            </td>
            <td data-title="'身份证号'" filter="{idNo : 'text'}" sortable="'idNo'">
                <span class="editable-text">{{row.idNo}}</span>
            </td>
            <td data-title="'联系方式'" filter="{phonenumber : 'number'}" sortable="'phonenumber'">
				<span class="editable-text">{{row.phonenumber}}</span>
            </td>
            
            <td data-title="'居住地'" filter="{address : 'text'}" sortable="'address'">
				<span class="editable-text">{{row.address}}</span>
            </td>
                           
            <td data-title="'创建日期'"  sortable="'createDt'">{{row.createDt | date : $ctrl.DATE_FORMAT}}</td>
            <td data-title="'上次更新日期'" sortable="'lastUpdateDt'">{{row.lastUpdateDt | date : $ctrl.DATE_FORMAT}}</td>
        </tr>
    </table>

    <!-- Customized Modal -->
    <div id="userDetailModal" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3>编辑驾驶员信息</h3>
                </div>
                <div class="modal-body">
                	<div class="form-content">
	                    <user-info mode="$ctrl.editableMode" user-with-detail="$ctrl.clickedUser" is-form-valid="$ctrl.isFormValid" user-role-category="$ctrl.userRoleCategoryList"></user-info>
                	</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="width:80px;margin-right:10px" data-dismiss="modal">取 消</button>
                    <button type="button" class="btn btn-primary" style="width:80px" ng-disabled="$ctrl.isFormValid" ng-click="$ctrl.saveUserWithDetail($ctrl.clickedUser)">保 存</button>
                </div>
            </div>
        </div>
    </div>
</div>


