<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="司机管理系统"></meta>
    <meta name="author" content="Maple.S"></meta>

    <link rel="icon" href="/global/img/favicon.ico"></link>

    <title>司机管理系统</title>

    <link rel="stylesheet" href="/global/plugins/bootstrap-3.3.7/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/global/plugins/bootstrap-3.3.7/css/bootstrap-theme.min.css"></link>
    <link rel="stylesheet" href="/global/plugins/ng-table/ng-table.css" ></link>
    <link rel="stylesheet" href="/global/plugins/angular-tostr/angular-toastr.css"></link>

    <link rel="stylesheet" href="/global/css/common.css"></link>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/TSCinternal/AdminContents/dashboard.css"></link>
    <link href="/global/templates/user-info/user-info.css" rel="stylesheet"></link>

</head>

<body ng-app="dashboardApp" ng-controller="dashboardCtrl">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span class="tsc-title">D M S</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        	<ul class="nav navbar-nav navbar-right">
        		<li><a class="a-like-btn navbar-inverse" ng-click="openAuthModal()" style="cursor: pointer;" ng-bind="logedUser.username"></a></li>
        		<!-- <li><input id="quick-search" type="text" class="form-control navbar-form" placeholder="Search..."></input></li>  -->
        		<li>
	        		<form class="form-inline navbar-form" action="/logout" method="post">
	        			<input type="hidden" name="_csrf" id="CSRF-TOKEN"></input>
	        			<button class="btn btn-default btn-danger" type="submit" >Log out</button>
	        		</form>
        		</li>
        	</ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a ui-sref="userManagement" ui-sref-active="active">司机管理</a></li>
                <li><a ui-sref="complaintManagement" ui-sref-active="active">投诉管理</a></li>
                <li><a ui-sref="accidentManagement" ui-sref-active="active">事故管理</a></li>
                <li><a ui-sref="chargeManagement" ui-sref-active="active">收费管理</a></li>
            </ul>
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ui-view></ui-view>
        </div>
    </div>
    
    <!-- Customized Modal -->
    <div id="authModal" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg	">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3>修 改 密 码</h3>
                </div>
                <div class="modal-body">
                	<div class="form-content">
                		<form name="authForm" class="form-horizontal">
               			    <div ng-class="['form-group', authForm.oldPwd.$invalid ? 'has-error' : '']">
							    <label class="col-sm-5 control-label">旧密码：</label>
						    	<div class="col-sm-7">
							        <input name="oldPwd" type="password" class="form-control" ng-model="logedUser.oldPwd" required/>
						    	</div>
					    	</div>
 	               			<div ng-class="['form-group', authForm.newPwd.$invalid ? 'has-error' : '']">
							    <label class="col-sm-5 control-label">新密码：</label>
						    	<div class="col-sm-7">
							        <input name="newPwd" type="password" class="form-control" ng-model="logedUser.newPwd" required/>
						    	</div>
					    	</div>
               			    <div ng-class="['form-group', authForm.reNewPwd.$invalid ? 'has-error' : '']">
							    <label class="col-sm-5 control-label">重复新密码：</label>
						    	<div class="col-sm-7">
							        <input name="reNewPwd" type="password" class="form-control" ng-model="logedUser.reNewPwd" required/>
						    	</div>
					    	</div>					    	
                		</form>
                	</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="width:80px;margin-right:10px" data-dismiss="modal" >取 消</button>
                    <button type="button" class="btn btn-primary" style="width:80px" ng-disabled="!authForm.$valid" ng-click="modifyPwd(logedUser)">保 存</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Placed at the end of the document so the pages load faster -->
<script src="/global/plugins/lodash-min.js" ></script>
<script src="/global/plugins/jquery-3.2.0.min.js" ></script>
<script src="/global/plugins/angular-1.5.8/angular.js"></script>
<script src="/global/plugins/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/global/plugins/bootstrap3-typeahead.js"></script>
<script src="/global/plugins/angular-bootstrap3-typeahead.js"></script>
<script src="/global/plugins/jQuery.print.js"></script>

<script src="/global/plugins/ui-router/angular-ui-router.js"></script>
<script src="/global/plugins/ng-table/ng-table.js"></script>
<script src="/global/plugins/angular-tostr/angular-toastr.tpls.js"></script>

<!-- Customized scripts -->
<script type="text/javascript" src="/global/scripts/constants.js"></script>
<script type="text/javascript" src="/global/scripts/server-service.js"></script>
<script src="/TSCinternal/AdminContents/dashboard.js"></script>
<script src="/TSCinternal/AdminContents/ng-table-necessary.js" ></script>

<script src="/TSCinternal/AdminContents/userManagement/user-management.js"></script>
<script src="/TSCinternal/AdminContents/complaintManagement/complaint-management.js"></script>
<script src="/TSCinternal/AdminContents/accidentManagement/accident-management.js"></script>
<script src="/TSCinternal/AdminContents/chargeManagement/charge-management.js"></script>

<script src="/global/templates/user-info/user-info.js" ></script>
<script src="/global/templates/complaint-info/complaint-info.js"></script>
<script src="/global/templates/accident-info/accident-info.js"></script>
<script src="/global/templates/charge-info/charge-info.js"></script>

</body>
</html>
